#fos_user_registration .login_error{
	margin-top: 0px;
	margin-left: 20px;
	font-weight: bold;
	color: #AA0000;
}
.fos_user_registration_register{ 
	width:540px;
	margin: 40px auto 10px auto; 
	padding: 20px 0px 30px 60px;
	background: #fff;
	border: 1px solid #A2A2A3;
	color: #000022; 
}
form.fos_user_registration_register p{
	font-weight: bold;
	margin-left: 98px; 
	font-size: 12px; 
}
form.fos_user_registration_register { 
	font-size: 14px; 
}
form.fos_user_registration_register label { 
	float: left;
	margin-right: 2px; 
	text-align: left; 
	width: 400px; 
	margin-top: 10px;
	font-size: 12px; 
	font-weight: bold; 
	vertical-align: top; 
}
form.fos_user_registration_register input[type="text"],
form.fos_user_registration_register input[type="password"],
form.fos_user_registration_register input[type="email"],
form.fos_user_registration_register input[type="date"]{ 
	width: 400px; 
	line-height: 18px; 
	font-size: 14px; 
	min-height: 18px; 
}
form.fos_user_registration_register textarea { 
	width: 350px; 
	height: 110px; 
	line-height: 18px; 
	font-size: 14px; 
}
form.fos_user_registration_register input[type="submit"] {  
	line-height: 18px; 
	margin-top: 10px;
	margin-left: 324px; 
	font-size: 12px; 
	min-height: 26px; 
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
	color: #ffffff;
	font: 13px arial;
	border: 1px #A2A2A2 solid;
}
form.fos_user_registration_register ul li { 
	color: #ff0000; 
	margin-bottom: 5px; 
}
#action_chpwd a{
	font-size: 12px; 
	min-height: 26px; 
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
	color: #ffffff;
	font: 13px arial;
	border: 1px #A2A2A2 solid;
}
