	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td><button type="submit" id="btn-create">{{'action.update'|trans([],'JmnProductBundle')}}</button></td>
					<td>
						<a href="{{ path('products_index') }}">{{'action.back'|trans([],'JmnProductBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>
