	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<a href="{{ path('param_index') }}">{{'action.back'|trans([],'JmnProductBundle')}}</a>
					</td>
					<td>
						<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#edit_param">{{'action.edit'|trans([],'JmnProductBundle')}}</button>
					</td>
					<td>
						<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#add_param">{{'action.duplicate'|trans([],'JmnProductBundle')}}</button>
					</td>
				</tr>
			</table>		
		</div>
	</div>	
